.App {
  box-sizing: border-box;
  background-color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  border: 1px solid brown;
  background-color: blueviolet;
  border-radius: 25px;
  height: 80%;
  min-width: 20em;
  width: 30%;
  display: flex;
  flex-direction: column;
}
#display {
  background-color: brown;
  border: 1px solid azure;
  border-radius: 25px;
  margin: 0.6em;
  height: 20%;
  display: flex;
  flex-direction: column;
  padding-right: 0.4em;
  padding-left: 0.4em;
  color: white;
  font-size: 1.5em;
  overflow: hidden;
}
.displays {
  
  height: 50%;
  
  display: flex;
  justify-content:  flex-end;
  align-items: center;
}


#keyboard {
  height: 80%;
  
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.button {
  border: 2px solid blueviolet;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#clear {
  grid-column: 1 / 3;
}
#zero {
  grid-column: 1 / 3;
}
#equals {
  grid-area: 4 / 4 / 6 / 5;
}
