.App {
  box-sizing: border-box;
  background-color: azure;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#frame {
  border: 2px solid blueviolet;
  
  border-radius: 25px;
  height: 80%;
  width: 30%;
  display: flex;
  flex-direction: column;
}
#display {

  height: 20%;
  display: flex;
  flex-direction: column;
}
.displays {
  border: 2px solid blueviolet;
  height: 50%;
}

#keyboard {
  
  height: 80%;
  
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}

.button {
  border: 2px solid blueviolet;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reset {
  grid-column: 1 / 3;
}
#zero {
  grid-column: 1 / 3;
}
#result {
  grid-area: 4 / 4 / 6 / 5;
}